* {
    background-color: aquamarine;
}

.wrapper {
    width: 700px;
    height: 700px;

    margin: 0 auto;
}

.border {
    border-width: 9px;
    border-color: black;
    border-style: solid;
}

.circle {
    background-color: #FCBC42;

    height: 130px;
    width: 130px;
    border-radius: 130px;

    box-shadow: 1px 3px 3px 2px #ccc;

    margin: 12px;
}

.rectangle {
    background-color: #8a6ce4;

    height: 220px;
    width: 440px;

    box-shadow: 3px 1px 3px 2px #ccc;
}

.image {
    margin: 0 auto;
    width: 450px;

    img {
        width: 100%;
    }
}

.triangle {
    border-style: solid;
    border-width: 55px 130px 55px 0;
    border-color: transparent #ED2809 transparent transparent;
}

.triangle-2 {
    border-style: solid;
    border-width: 100px 55px 0 55px;
    border-color: transparent #F58EB3 transparent transparent;
}

h1 {
    color: white;
    letter-spacing: 12px;
    font-size: 72px;
    font-family: 'Ewert', cursive;


    margin-left: 125px;
}

h2 {
    color: white;
    letter-spacing: 12px;
    font-size: 24px;
    font-family: 'Ewert', cursive;


    position: relative;
    float: right;
}