* {
	margin: 0;
}
.site-background {
	background-color: #FFE0CE;

	width: 100%;
	height: 750px;
}
.image-container {
	position: relative;
	z-index: 2;
	top: 60px;
	left: 140px;

	width: 600px;
}
.image {
	width: 100%;
}
.box-detail {
	position: relative;
	left: 180px;
	top: -350px;

	z-index: 1;

	width: 600px;
	height: 430px;

	background-color: #21265E;
}
